p
{
    color: rgb(32, 72, 63);
    font-size: 18px;
    font-family: sans-serif;
}

h1
{
    font-size: 40px;
}

/* h4
{
    text-transform: uppercase;
} */

.uppercase
{
    text-transform: uppercase;
}

.cursive
{
    font-family: cursive;
}

#blog-desc
{
    color: #026320;
    font-size: 16px;
}

#blog-title:hover
{
    color: orange;
}

#author-section
{
    display: inline-block;
}

/* Aside  */
.widget
{
    border-top: 4px solid black;
}

.widget input
{
    display: block;
    background-color: #f7f7f7;
    margin-bottom: 15px;
    padding: 4px;
    color: black;
    font-size: 1.2rem;
}

button[type="submit"]
{
    font-size: 1.2rem;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px gold solid;
}

.widget-title
{
    font-size: 1.5rem;
}

/* main header  */

main
{
    width: 74%;
    display: inline-block;
}

/* Aside  */
#right-aside
{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

#left-aside-author
{
    width: 10%;
    display: inline-block;
    vertical-align: top;
    margin: 20px 60px 10px 10px;
}

#blog-content
{
    width: 65%;
    display: inline-block;

}



#coding-ninjas-blog-link
{
    text-decoration: none;
    color: black;
}

#left-aside-author img
{
    border-radius: 50%;
    border: 2px solid orange;
}



#social-media-icons
{
    height: 40vh;
    width: 5vw;
    min-width: 60px;
    max-width: 80px;
    position: fixed;
    margin-top: 50px;
    
}

#social-media-icons #fb
{
    height: 20%;
    background-color: rgb(33, 31, 135);
}

#social-media-icons #in
{
    height: 20%;
    background-color: rgb(21, 163, 188);
}

#social-media-icons #twitter
{
    height: 20%;
    background-color: rgb(105, 25, 180);
}

#social-media-icons #Gmail
{
    height: 20%;
    background-color: rgb(226, 137, 27);
}

#social-media-icons #Whatsapp
{
    height: 20%;
    background-color: rgb(11, 224, 29);
}



#recent-post li
{
    color: orange;
    margin-right: 20px;
    text-align: justify;
}