#div1
{
    background-color: red;
    background-color: #171d65;
    background-color: rgb(25,126,200);
    background-color: rgba(25,126,200,0.4);
    background-color: hsl(25, 17%, 60%);
    background-color: hsla(25 , 88%, 44%, 0.5);
    height: 200px;
    width: 200px;
   
}