html
{
    font-size: 30px;
}

#div1
{
    height: 200px;
    width: 300px;
    height: 75vh;
    width: 100vw;
    height: 4rem;
    width: 6rem;
    background-color: blueviolet;

}

#div2
{
    height: 100px;
    width: 150px;
    height: 50%;
    width: 50%;
    background-color: aqua;
}