#container
{
    height: 500px;
    width: 500px;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: stretch; */
    /* align-items: baseline; */
    justify-content: center;
    align-items: center;
}

#container div
{
    /* height: 100px; */
    width: 100px;
    /* height: auto;
    max-height: 400px; */
    height: 100px;
}

#div1
{
    background-color: cyan;
    /* margin: 10px; */
}

#div2
{
    background-color: red;
    /* margin: 30px; */
}

#div3
{
    background-color: grey;
    /* margin: 50px; */
}