#logo-img-container
{
    height: 100vh;
    width: 100vw;

    /* 
    background-image: url("coding-ninjas-logo.png");

    background-repeat: no-repeat;

    background-position: center;

    background-size: cover;
    background-size: contain;
    background-size: 600px 200px;
    */

    background-image: url("ash-edmonds-SHCViKw3edE-unsplash.jpg");
    background-position: center;
    background-size: contain;

    background-attachment: scroll;
    background-attachment: fixed;
    
}