#div1
{
    background-color: red;
    height: 200px;
    width: 200px;
}

#div2
{
    background-color: cyan;
    height: 200px;
    width: 200px;
    margin-left: -4px;
}

span
{
    display: block;
}

div
{
    display: inline;
}

div
{
    display: inline-block;
}
