#div1
{
    height: 200px;
    width: 50%;
    min-width: 150px;
    max-width: 250px;
    min-height: 150px;
    max-height: 250px;
    background-color: cyan;
    border: 2px solid blue;

    /* overflow  */
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
}