html
{
    font-size: 30px;
}

#outer-div1
{
    height: 200px;
    width: 200px;
    background-color: #393a7b;
    margin-bottom: 20px;

    padding: 20px;
    padding: 20px 10px;
    padding: 20px 10px 30px 25px;

    border: 10px solid red;
}

#inner-div1
{
    height: 50%;
    width: 50%;
    background-color: cyan;
}

#outer-div2
{
    height: 200px;
    width: 200px;
    background-color: orange;
    margin-top: 10px;
}