#sample-para
{
    font-size: 30px;
    color: blue;

    font-weight: bold;
    font-weight: normal;
    font-weight: bolder;
    font-weight: 700;   /*100 to 900 */
    
    text-align: justify;
    text-align: center;
    text-align: left;
    text-align: right;
    text-align: start;
    
    line-height: 10px;
    line-height: 30px;
    line-height: 50px;
    
    word-spacing: 25px;
    
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    text-transform: none;
    
    text-decoration: underline;
    
}