@keyframes changeShapeDiv1
{
    from
    {
        transform: translateY(100%);
    }
    to
    {
        transform: translateY(0%);
    }    
}

#div1
{
    height: 100px;
    width: 100px;
    top: 15%;
    left: 20%;
    position: absolute;
    background-color: aqua;
    animation: changeShapeDiv1 1s ease-out infinite alternate;
}

@keyframes changeShapeDiv2 
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }

}
#div2
{
    height: 100px;
    width: 100px;
    top: 45%;
    left: 35%;
    position: absolute;
    background-color: orange;
    animation: changeShapeDiv2 1s steps(12) infinite alternate;
}

@keyframes changeShapeDiv3
{
    from
    {
        height: 0px;
        width: 0px;
        overflow: hidden;
    }
    to
    {
        height: 20px;
        width: 100px;
    }    
}
#div3
{
    top: 75%;
    left: 55%;
    position: absolute;
    padding: 5px;
    border: 2px solid rgb(94, 195, 229);
    box-shadow: 0px 0px 4px 4px rgb(237, 124, 218);
    animation: changeShapeDiv3 1s ease-in-out infinite alternate;
}
