#outer-div
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#outer-div>div
{
    height: 300px;
    width: 31%;
    margin: 1%;
}

#div1
{
    background-color: #ff8989;
}

#div2
{
    background-color: #88f7ce;
}

#div3
{
    background-color: #e29df2;
}

@media screen and (max-width:600px)
{
    #outer-div>div
    {
        width: 100%;
        margin: 0%;
    }
}