/* Desktop First Approach
#div1
{
    width: 60%;
    border: 1px solid black;
}

@media screen and (max-width: 900px)
{
    #div1
    {
        width: 90%;
    }
}

@media screen and (max-width: 600px)
{
    #div1
    {
        width: 100%;
    }
} */

/* Mobile First Approach */
#div1
{
    width: 100%;
    border: 1px solid black;
}

@media screen and (min-width: 600px)
{
    #div1
    {
        width: 80%;
    }
}

@media screen and (min-width: 900px)
{
    #div1
    {
        width: 60%;
    }
}



