body
{
    margin: 0px;
}


/* Body Header  */
#body-header
{
    height: 60vh;
    opacity: 0.99;
    background-image: url("flat-lay-workstation-with-copy-space-laptop_23-2148430879.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* horizental-list  */
.horizental-list
{
    list-style: none;
    padding-left: 0px;
}

.horizental-list li
{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}

.horizental-list li a
{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.5s, bordor-bottom 4s;
}

.horizental-list li a:hover
{
    color: rgb(245, 126, 184);
    border-bottom: 1px solid white;
}

#body-header h1
{
    color: white;
    font-size: 60px;
    margin: 50px 0px 30px;
}

.text-center
{
    text-align: center;
}

#about
{
    height: auto;
    width: 100%;
    position: relative;
}

#my-image
{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -15vh;
}

#my-image img
{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0px 0px 4px 4px lightgrey ;
}

#about-paragraph
{
    text-align: justify;
    margin: 5vh 10vw;
    color: grey;
}

#about-paragraph span
{
    color: #2857a4;
}


section
{
    /* height: 75vh; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n)
{
    background-color: rgb(255 235 235);
}

section:nth-child(2n+1)
{
    background-color: white;
}

section:target
{
    background-color: cyan;
}

/* Skills */
.section-heading
{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span
{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

#skills-display
{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-progress
{
    height: 1.4rem;
    width: 10rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    margin: 20px;
    border: 4px solid rgb(254, 149, 149);
    box-shadow: 0px 0px 4px 4px rgb(76, 156, 213);
}

.text-highlight
{
    color: #2857a4;
    font-weight: 600;
}

.mb-blue
{
    background-color: #2857a4;
}

.mb75px
{
    margin-bottom: 75px;
}

.eighty-five-percent
{
    width: 85%;
    height: inherit;
}

.ninety-five-percent
{
    width: 95%;
    height: inherit;
}

.seventy-five-percent
{
    width: 75%;
    height: inherit;
}

.sixty-five-percent
{
    width: 65%;
    height: inherit;
}

.fifty-five-percent
{
    width: 55%;
    height: inherit;
}

.fourty-five-percent
{
    width: 45%;
    height: inherit;
}

.skill-name span
{
    color: white;
    font-size: 1rem;
    margin-left: 5px;
}

.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}

.mb-red
{
    background-color: red;
}

.mb-orange
{
    background-color: orange;
}

.mb-green
{
    background-color: green;
}

.mb-yellow
{
    background-color: yellow;
}

.mb-cyan
{
    background-color: cyan;
}

#portfolio-manage
{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-box
{
    height: 180px;
    width: 180px;
    margin: 10px 30px;
}

.hide
{
    display: none;
}

.portfolio-box:hover 
{
    border: 2px solid white;
    background-color: lightgrey;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 2px cyan;
}

.portfolio-box:hover .hide
{
    display: block;
    height: 100%;
    width: 100%;

}


#contact
{
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, #2857a4, #403066);
}

#contact-body
{
    height: inherit;
    width: 100%;
    margin: 5px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contact-body>div
{
    height: auto;
    width: 40%;
    color: white;
}

#contact .section-heading span
{
    color: white;
}

#send-message>div
{
    width: 100%;
    margin: 20px 0px;
}

#send-message input
{
    background-color: transparent;
    border: 0px solid;
    border-bottom: 2px solid white;
    margin-top: 5px;
    width: 100%;
}

#send-message textarea
{
    background-color: transparent;
    border: 0px solid;
    border-bottom: 2px solid white;
    margin-top: 5px;
    width: 100%;
}

#send-message button
{
    background-color: transparent;
    padding: 5px;
    color: white;
    border: 2px solid white;
    margin-left: 15vw;
}

/* Timeline */
.timeline
{
    position: relative;
    width: 75%;
}

.timeline-box
{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
}

.timeline-box:nth-child(2n)
{
    left: 55%;
}

.timeline-box:nth-child(2n+1):after
{
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 30%;
    right: -12.5%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}

.timeline-box:nth-child(2n):after
{
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 30%;
    left: -14%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}

.timeline-divider
{
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 8%;
    left: 50%;
}

@media screen and (max-width: 600px)
{
    .timeline-divider
    {
        left: 5%;
    }

    .timeline-box
    {
        left: 12% !important;
        width: 80%;
    }

    /* .timeline-box:nth-child(2n)
    {
        left: 12%;
    } */

    .timeline-box::after
    {
        left: -10.7% !important;
    }

}

.timeline-traveller
{
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    z-index: 2;
}

#education .timeline-traveller 
{
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    z-index: 2;
}

.timeline-box-content
{
    padding: 0px 5px;
}

.timeline-box-content>div
{
    display: inline-block;
    width: auto;
}

.timeline-box-content-image
{
    width: 5%;
}

.timeline-box-content-designation
{
    margin-left: 40%;
    width: 50%;   
}

.timeline-box-content h3
{
    color: #2857a4;
    text-align: right;
    line-height: 0%;
}

.timeline-box-content h4
{
    color: orange;
    text-align: right;
    line-height: 14px;
    margin-top: -6px;
}

.timeline-box-content>p
{
    text-align: justify;
}

.timeline-box-content .month-year
{
    text-align: right;
    line-height: 12px;
    margin-top: -15px;
}

