#container
{
    /* height: 50vh;
    width: auto; */
    height: 75vh;
    width: 75vw;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0px 0px 5px 5px cyan;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
}

#div1
{
    height: 50px;
    width: 50px;
    background-color: palevioletred;
    border-radius: 50%;
    border: 2px solid lightgray;
}

#div2
{
    height: 70px;
    width: 70px;
    background-color: rgb(209, 75, 8);
    border-radius: 50%;
    border: 2px solid lightgray;
    flex-shrink: 1;
    flex-grow: 1;
}


#div3
{
    height: 90px;
    width: 90px;
    background-color: rgb(9, 214, 9);
    border-radius: 50%;
    border: 2px solid lightgray;
    flex-shrink: 1;
    flex-grow: 2;
}

#div4
{
    height: 110px;
    width: 110px;
    background-color: rgb(16, 215, 230);
    border-radius: 50%;
    border: 2px solid lightgray;
    flex-shrink: 1;
    flex-grow: 3;
}

/* #div5
{
    height: 130px;
    width: 130px;
    background-color: rgb(21, 18, 210);
    border-radius: 50%;
    border: 2px solid lightgray;
    flex-shrink: 2;
}

#div6
{
    height: 150px;
    width: 150px;
    background-color: rgb(241, 10, 48);
    border-radius: 50%;
    border: 2px solid lightgray;
    flex-shrink: 2;
} */






