#container
{
    height: 500px;
    width: 500px;
    background-color: lightgrey;
    display: flex;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    justify-content: space-between;
    flex-direction: column;

}

#container div
{
    height: 100px;
    width: 100px;
}

#div1
{
    background-color: cyan;
}

#div2
{
    background-color: red;
}

#div3
{
    background-color: grey;
}