#container
{
    height: 500px;
    /* width: 500px; */
    width: 300px;
    background-color: lightgray;
    display: flex;
}

#container div
{
    height: 200px;
    width: 200px;
}

#div1
{
    background-color: cyan;
    flex-grow: 4;
    flex-shrink: 4;
}

#div2
{
    background-color: red;
    flex-grow: 1;
    flex-shrink: 1;
}