div
{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: aquamarine;

    /* transform: rotate(120deg); */
    /* transform: rotate(-100deg); */

    /* transform: rotateX(100deg); */
    /* transform: rotateY(100deg); */

    /* transform: scale(0.2);
    transform: scale(1.5);
    transform: scale(1.5, 0.4); */

    /* transform: translate(100px);
    transform: translate(100px, 100px);
    transform: translate(10%, 100px); */

    /* transition: 1s ease-in-out; */
    transition: height 1s ease-in-out 0.5s;
}

div:hover
{
    height: 400px;
    width: 400px;
}